* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: lightseagreen;
  font-size: 22px;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  margin-top: 10px;
}

input[type="submit"] {
  margin-top: 10px;
  border: 2px solid lightseagreen;
  color: lightseagreen;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  font-size: 20px;
}

input[type="number"] {
  text-align: center;
  font-size: 20px;
  width: 60px;
  border-radius: 5px;
  border: 2px solid lightseagreen;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 0.6;
}

.header {
  color: lightseagreen;
}

select {
  margin-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid lightseagreen;
  padding: 5px 10px;
  background: none;
}
