.content {
  max-width: 800px;
  margin: auto;
  padding: 20px 0;
}

.content .file {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.content .top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  box-shadow: 0 6px 10px #AAA;
  height: 120px;
}

.return {
  margin-left: 50px;
}

.word-list {
  margin-top: 140px;
}

.word-list .word {
  background: none;
  box-shadow: 0 0 5px #AAA;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.6s ease-in;
  transform-origin: top left;
  transform: scale(1);
}

.word .word-body {
  margin: 5px 10px;
}

.word.hidden {
  transform: scale(0);
  height: 0px;
  margin-bottom: 0;
}

.word-text {
  font-size: 0.7em;
}

.word-type {
  font-size: 0.6em;
  color: gray;
  margin-right: 10px;
}

.word-definition {
  font-size: 0.6em;
}

.word-sentence {
  margin-top: 5px;
  font-size: 0.6em;
}
